html {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    background-color:   #FCFCFC;
}

div {
    text-align: center;
}

button {
    width: 80%;
    height: auto;
    color: white;
    background-color: purple;
    border: 2px solid white;
    font-size: 24px;
    border-radius: 5px;
}

img {
    height: 100px;
    width: 100px;
    border: 2px solid purple;
    object-fit: contain;   
    border-radius: 50%;
    mix-blend-mode: multiply;
    color: white;
}

.container {
    border: 5px solid purple;
    background-color: #353839;
    height: 600px;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
    font-family: Arial, Helvetica, sans-serif;
}

.result-container {
    height: 25%;
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid purple;
    border-radius: 5px;
}

.scores-container {
    display: flex;
    flex-direction: row;
    height: 25%;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}

/* Fix background and move exit button of modal*/
.modal {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 70%;
  
    background-color: white;
    padding: 2rem;
    border-radius: 5px;
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.3);
    z-index: 10;
  }

  .button-div {
    display: flex;
    justify-content: end;
  }

  .close-modal, .reset {
    width: auto;
  }
  

#user-display, #computer-display, #result-display {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40%;
    width: 40%;
    font-size: 25px;
    color: white;
}

#user-display, #computer-display {
    background-color: purple;
    border: 2px solid white;
    border-radius: 5px;
}

#button-container {
    display: flex;
    height: 25%;
    width: 75%;
    justify-content: space-between;
    align-items: center;
}



